
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Cliente")';return false;">Cliente</button>
<button class="btn btn-success" onclick="location.href='@Url.Action("Index", "Pedido")';return false;">Pedido</button>



